<launch>

<node name="mcl_3d" type="mcl_3d" pkg="mcl" output="screen">

    <param name="map_file" type="str" value="$(find mcl)/../../../tsdf_maps/ground_truth_map_2.h5"/>
    
    <param name="use_best_pose" type="bool" value="false" />
    <param name="per_point" type="bool" value="false" />
    <param name="init_global" type="bool" value="true"/>
    <param name="ground_truth_eval" type="bool" value="false"/>
    <param name="use_hilti_gt" type="bool" value="true"/>
    <param name="sigma" type="double" value="0.5"/> <!-- 0.000001 -->
    <param name="a_hit" type="double" value="0.8"/>
    <param name="a_rand" type="double" value="0.2"/>
    <param name="a_max" type="double" value="0.0"/>
    <param name="range_max" type="double" value="1000.0"/>
    <param name="use_imu" type="bool" value="false"/>
    <param name="use_gt_odom" type="bool" value="false"/>
    <param name="use_os" type="bool" value="false"/>
    <param name="ignore_motion" type="bool" value="false"/>
</node>

</launch>
